.post {

  margin-bottom: 20px;
  .post-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }

  .image-title {
    display: flex;
    align-items: center;
  }

  .profile-pic {
    display: block;
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-right: 10px;
  }

  .description {
    padding: 10px 20px;
  }
}